.comfirm-btn{
    width: 100%;
}

.cart-list{
    width: auto;
    .cart-card{
        width: 100%;
        .cart-img {
            width: 180px;
            height: 160px;
            object-fit: cover;
            flex-shrink: 0;
            border-radius: 8px;
        }
        .cart_card_content{
            width: 100%;
            position: relative;
            
        }
        .btn{
            position: absolute;
            top: 16px;
            right: 16px;
        }
        .cart-content{
            font-size: 12px;
            margin-top:10px;
        }
    }
}


.toaster{
    [data-sonner-toast-wrapper][data-x-position='right'][data-y-position='top'] {
      top: 30px !important;
    }

}


@media (max-width:768px){
    .comfirm-btn{
        width: 100%;
        margin-left: 20px;
    }
    .comfirm-btn{
        margin: 0;
    }
    .cart-list{
        width: 100%;
    }
    .cart-card {
        width: 100%;
        flex-direction: column;
        img{
            display: none;
        }
    }
    .cart_summary{
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width:375px){
    .cart-confirm{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap:10px;
        .btn, .comfirm-btn{
            max-width: 100%;
        }
        .comfirm-btn{
            margin-left: 0px;
        }
    }
}
