

.home-banner-image{
    img{
        width: 100%;
        height: 800px;
        object-fit: cover;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        position: relative;
        top: 0; 
    }
    .home-banner-content{
        position: absolute;
        top: 25%;
        right: 15%;
    }
    .home-banner-display-active{
        position: absolute;
        top: 45%;
        right: 15%;
    }
}
.home-middle-card{
    .card {
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        cursor: pointer;
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
        }
        h4 {
            font-size: 1.25rem;
            color: #333;
        }
        .card-text {
            font-size: 0.9rem;
        }
        .btn {
            background-color: #FF6B00;
            color: white;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #e85d00;
            }
        }
        img{
            height: 478px;
            object-fit: cover;
        }
        
    }
}

.home-subscrib {
    background-color: #1E1E1E;
    color: #fff;
    padding: '60px 20px';
    text-align: 'center';
    .container{
        max-width: 700px;
        margin: 0 auto;
        form{
            width: 50%;
            margin-top: 20px;
        }
        input{
            width:100%;
            border:none;
        }
        .btn{
            background-color: #FF6B00;
            color: #fff;
            width: 30%;
            border: none;
        }
    }
    
    
}
.home-product-list{
    h3{
        text-align: center;
        font-size: 36px;
    }
}
.more-button{
    transition: background-color 0.3s ease;
    .btn{
        display: inline-flex;
        color: #FFFFFF;
        cursor: pointer;
        max-width: 160px;
        width: 100%;
        position: relative;
        text-decoration: none;
        width: 100%; 
        background: #FF6B00;
    }
    .btnLink{
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 1px solid rgba(69, 66, 66, 0.5);
        outline-offset: 0px;
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            border: 1px solid #FF6B00;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
            outline-color: rgba(255, 255, 255, 0);
            outline-offset: 15px;
            .arrow {
                transform: translateX(5px);
            }
        }
        .arrow{
            display: inline-block;
            transition: transform 0.3s ease;
        }
    }
}

.homeSwiper{
    .swiper-pagination-bullet-active {
        background: #FF6B00;
    }
    .swiper-slide{
        .row{
            padding: 30px 0;
        }
        img{
            width:160px;
            height: 160px;
            object-fit: cover;
        }
    }
}

.home-features{
    background-color: #1E1E1E;
    height: 400px;
    i{
        color: #FF6B00;
    }
    .container{
        padding-top: 20px;
        .row{
            margin: 35px 0px
        }
    }
}

.top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ff6b00;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.hide {
        opacity: 0;
        pointer-events: none;
        transform: translateY(20px);
    }

    &.show {
        opacity: 1;
        
        transform: translateY(0);
    }

    .goTopBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 11px;
        
    }

    i {
        color: white;
        font-size: 24px;
        pointer-events: none;
    }
}

.home-banner-mobile{
    display: none;
}


@media (max-width: 992px){
    .home-banner-image{
        img{
            height: 400px;
            width: 100%;
        }
        .home-banner-content{
            top: 10%;
            right: 10%;
        }
        h2{
            font-size: 26px;
        }
        h3, p{
            font-size: 20px;
        }
        .home-banner-display-active{
            top: 25%;
            right: 10%;
        }
    }
    .more-button{
        width: 17%;
    }
    .home-product-list{
        h3{
            font-size: 30px;
        }
    }
}

@media (max-width: 768px) {
    .home-middle-card{
        .col-md-6 {
          width: 100%;
        }
    }
    .more-button{
        width: 25%;
        margin-bottom: 20px;
    }
    .home-subscrib{
        .container{
            form{
                width: 100%;
            }
        }
    }
    .home-banner-image{
        .home-banner-content,
        .home-banner-display-active{
            display: none;;
        }
        img{
            display: none;
        }
    }
    .home-banner-mobile{
            background: green;
            display: block;
            justify-content: center;
            .home-banner-content-mobile{
                display: none;
            }
            .home-banner-display-active-mobile{
                display: none;
            }
    }
}

@media (max-width: 576px){
    .home-top-intro{
        h3{
            font-size: 20px;
        }
    }
    .more-button{
        width: 33%;
    }
}



//test HomePage scss


.header_top_banner{
    img{
        width: 100%;
        height: 900px;
        object-fit: cover;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        position: relative;
        top: 0;
        object-fit: cover;
    }
    .headerBannerSwiper{
        .banner_text{
            position: absolute;
            color: #fff;
            h3{
                font-size: 50px;
                font-weight: bold;
            }
            h4{
                font-size: 36px;
                margin-top: 10px;
            }
            p{
                font-size: 20px;
                margin-top: 10px;
            }
        }
        .bannner_text1{
            top: 30%;
            right: 10%;
        }
        .bannner_text2{
            top: 20%;
            right: 5%;
            color: #1E1E1E;
        }
        .bannner_text3{
            top: 20%;
            left: 5%;
            color: #1E1E1E;
        }
        .bannner_text4{
            top: 30%;
            left: 5%;
        }
    }
}

#news {
  scroll-margin-top: 50px; /* 根據你的 header 高度調整，常見是 80~120px */
}

.home_news{
    background-color: #c2c1c1;
    margin-bottom: 2.5rem;
    // height: 300px;
    .container{
        height: 300px;
        padding: 50px 0px;
        align-items: center;
        a{
            font-size: 20px;
            color: #1E1E1E;
        }
    }
}

.home_middle_banner{
    .middle_banner_image{
        position: relative;
        top: 0; left: 0;
        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            
        }
        .middle_banner_content{
            position: absolute;
            top: 35%;
            left: -10%;
            color: #000;
            z-index: 333;
            h2{
                font-size: 36px;
                font-weight: bold;
            }
            p{
                font-size: 20px;
                margin-top: 10px;
            }
        }
    }
    
}

.customer_reviews{
    .swiper-slide{
        img{
            margin-right: 50px;
        }
    }
}

@media (max-width: 992px){
    .header_top_banner{
        .swiper-slide{
            .bannner_text1{
                top: 43%;
            }
            .bannner_text2{
                top: 70%;
                left: -8%;
                color: #fff;
            }
            .bannner_text3{
                top: 40%;
                left: 14%;
                color: #fff;
            }
            .bannner_text4{
                top: 40%;
                left: 16%;
            }
        }
    }
}

@media (max-width: 768px){
    .header_top_banner{
        .swiper-slide{
            img{
                max-height: 250px;
            }
            .bannner_text1{
                top: 62%;
                left: 6%;
            }
            .bannner_text2{
                top: 63%;
                left: 0%;
                color: #000000;
            }
            .bannner_text3{
                top: 63%;
                left: 6%;
                color: #ffffff;
            }
            .bannner_text4{
                top: 63%;
                left: 10%;
            }
            .bannner_text1, .bannner_text2, .bannner_text3, .bannner_text4{
                h3{
                    font-size: 24px;
                }
                h4{
                    font-size: 20px;
                }
                p{
                    display: none;
                }
            }
        }
        .swiper-button-prev:after,
        .swiper-button-next:after {
            //color: #fff; /* Swiper navigation arrows color */
            font-size: 35px;
        }
    }
    .home-banner-content{
        h3{
            font-size: 20px;
            line-height: 2rem;
        }
    }
    .home-banner-display-active{
        h2{
            font-size: 22px;
        }
    }
    .more-button{
        margin: 0 auto;
    }
    .home_middle_banner{
        .middle_banner_image{
            img{
                height: 300px;
            }
            .middle_banner_content{
                top: 28%;
                left: 0%;
                width: 100%;
                h2{
                    font-size: 26px;
                }
                p{
                    font-weight: bold;
                }
            }
        }
    }
    .home-features{
        height: auto;
        .col-md-4{
            margin-bottom: 10px;
        }
    }
    .customer_reviews{
        .swiper-slide{
            .col-md-8{
                padding: 10px;
                flex-direction: column;
                img{
                    margin: 0px auto 70px auto;
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev{
            top: 50%;
        }
        .home_customer_content{
            margin-top: 20px;
        }
    }
}